@import '~bootstrap/scss/bootstrap.scss';

@import './home.scss';

@import './variables.scss';

@font-face {
  font-family: 'album font';
  src: url(../public/assets/fonts/tb.otf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4, p, b, a {
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.tranquility-font {
  text-transform: uppercase;
  font-family: 'album font';
}

.content {
  max-width: 1000px;
  padding: 0px 15px;
  margin: auto;
}

.section {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}